body {
    text-align: center;
    background-color: purple;
}

p {
    word-spacing: 10px;
    font-variant: small-caps;
    text-align: center;
    font-size: 20px;
}

.menu {
    list-style: none;

    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: white;
}

#Heading1 {
    font-size: 60px;
}

html {
    scroll-behavior: smooth;
}

#para1 {
    font-size: "50px";
}
